# Java / Maven
target/
*.class
*.jar

# IDE
.idea/
.vscode/
*.iml
.settings
.project
.classpath

# Environment
.env

# Python
analysis/.venv/
analysis/output/
analysis/reports/
__pycache__/
*.pyc

# Reports
reports/
reports:*/
output/

# Lokale Docker-Configs
docker-compose-local.yml

# Logs
eval.log
*.log

# macOS
.DS_Store
